!!! 5
html
  head
    title
      #{data.firstName} #{data.secondName}
  body
    h1 This is a person called, #{data.firstName} #{data.secondName}!  So Jade is working!
    h2 This person is #{data.age} years old.